MaterialCursoSQL/Arquivos usados nas aulas
MaterialCursoSQL/Anotações.docx
MaterialCursoSQL/SQL.xlsx
MaterialCursoSQL/Bancos/
sqlite-tools-win32-x86-3210000
03-CriandoTabelaseInserindoInformacoes/sqlite3.exe
