MaterialCursoSQL/Arquivos usados nas aulas
MaterialCursoSQL/Anotações.docx
MaterialCursoSQL/SQL.xlsx
MaterialCursoSQL/Bancos/
sqlite-tools-win32-x86-3210000
03-CriandoTabelaseInserindoInformacoes/sqlite3.exe

#aquivo > que 125mb gerado no -> http://www.fakenamegenerator.com/
07-VamosAprenderUmasCoisasLegais/massa_um_milhao